@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.cdnfonts.com/css/semur-free-trial');

body {
    font-family: 'Semur Free Trial', sans-serif;
                                                
    background-color:  #003366;
    background-image: url("https://www.transparenttextures.com/patterns/bedge-grunge.png");


    scroll-behavior: smooth;
    overflow-x:hidden;
    
}



.mouse {
    animation: mouseAnim 4s infinite;
}

@keyframes mouseAnim {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}


a {
    overflow: hidden;
    position: relative;
    display: inline-block;
    
}

a::before,
a::after {
  content: '';
  position: absolute;
  width: 100%;
  left: 0;
}

a::before {
    background-color: #C73659;
  bottom: 0;
  transform-origin: 100% 50%;
  transform: scaleY(0);
  transition: transform .9s cubic-bezier(0.76, 0, 0.24, 1);
}

a::after {
    content: attr(data-replace);
    height: 100%;
    top: 0;
    transform-origin: 100% 50%;
    transform: translate3d(0, 200%, 0);
    transition: transform .3s ease-in-out;
    color: #FFD700;
    
  }
  
  a:hover::before {
    transform-origin: 0% 50%;
    transform: scaleY(1);
  }
  a:hover::after {
    transform: translate3d(0, 0, 0);
  }

  a span {
    display: inline-block;
    transition: transform .3s cubic-bezier(0.76, 0, 0.24, 1);
  }

  
a:hover span {
    transform: translate3d(0, -200%, 0);
  }
  


  .htmlscreen iframe {
    width: 1024px;
    height: 670px;
    border-radius: 10px;
  }

 .cursor {
  position: fixed;
  top: 0;
  left: 0;
  border: 2px solid #fff;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  z-index: -1;
 }